<% if (locals.messages) { %>
    <ul>
        <% messages.forEach(function(message) { %>
            <li class="error"><%= message %></li>
       <% }); %>
    </ul>
<% } else { %>
    <p class="placeholder error">.</p>
<% } %>