<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subTitle %></title>
</head>
<body>
    <%- include('partials/navbar.ejs', { title: title}) %>
    <%- include("partials/errors.ejs") %>
    <form action="/passphrase" method="POST">
        <label for="passphrase">What's the passphrase ?</label>
        <input type="password" name="passphrase" id="passphrase" required>
        <button type="submit">Enter</button>
    </form>
    <a href="/"><button> I don't want to be a member. </button></a>
</body>
</html>