<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title><%= subTitle %></title>
		<link
			rel="stylesheet"
			href="/onboard.css"
		/>
	</head>
	<body>
		<%- include('partials/navbar.ejs', { title: title}) %>
		<form
			id="sign-up"
			action="/sign-up"
			method="POST"
		>
			<h2><%= subTitle %></h2>
			<%- include("partials/errors.ejs") %>
			<div class="inputs">
				<div>
					<!-- <label for="first_name">First Name:</label> -->
					<input
						id="first_name"
						name="first_name"
						placeholder="First Name"
						type="text"
						required
					/>
				</div>
				<div>
					<!-- <label for="last_name">Last Name:</label> -->
					<input
						id="last_name"
						name="last_name"
						placeholder="Last Name"
						type="text"
						required
					/>
				</div>

				<div>
					<!-- <label for="username">Username</label> -->
					<input
						id="username"
						name="username"
						placeholder="Username"
						type="text"
						required
					/>
				</div>
				<div>
					<!-- <label for="password">Password: </label> -->
					<input
						id="password"
						name="password"
						type="password"
						placeholder="Password"
						required
					/>
				</div>
				<div>
					<!-- <label for="confirm">Confirm Password: </label> -->
					<input
						id="confirm"
						name="confirm"
						type="password"
						placeholder="Confirm Password"
						required
					/>
				</div>
			</div>
			<button
				class="buttons"
				type="submit"
			>
				Sign Up
			</button>
			<p>Already have an account? <a href="/login">Log in.</a></p>
		</form>
	</body>
</html>
